using Microsoft.Extensions.Logging;

namespace CommonLoggingLibrary.EventIds
{
  /// <summary>
  /// Base class for every EventIds
  /// </summary>{{#remarks.0}}
    /// <remarks>{{#remarks}}
    /// <para>{{.}}</para>{{/remarks}}
    /// </remarks>{{/remarks.0}}
  internal class Helper
  {
    {{#ids}}
    /// <summary>{{id}} - Referenced by Declaration <see cref="{{referencedByEventClass}}.{{referencedByEventDeclaration}}"/>, raised by method <see cref="{{raisedByCategory}}.{{raisedByMethod}}"/>
    /// Message: {{message}}</summary>{{#remarks.0}}
    /// <remarks>{{#remarks}}
    /// <para>{{.}}</para>{{/remarks}}
    /// </remarks>{{/remarks.0}}
    internal const int {{name}} = {{id}};
    {{/ids}}
  }
}
